@model BookStore.Models.ViewModel.BooksViewModel
@using BookStore.Extensions
@using Microsoft.AspNetCore.Http
@using BookStore.Models.ViewModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Details";
}


<br />
<br />
    <div class="p-4 border rounded row" style="background-color:#ffffff">

        <div class="col-md-3 rounded-left border-secondary">
            <img src="@Model.Book.Image" width="100%" style="border-right:1px solid #bbb9b9;" />
            <br /><br />
            <div class="form-group">
                <input hidden asp-for="Book.ID" />
                <a asp-action="Index" class="btn btn-success">Quay lại</a>
            </div>

        </div>
        <div class="col-1">
        </div>
        <div class="col-md-5">
            <h4>@Model.Book.BookName</h4>

            @if (!Model.Book.Author.SecondName.Equals("--None--"))
            {
                <div class="form-group row">
                    <label>Tác giả: <a href="#" onclick="showsameauthor()">@Model.Book.Author.SecondName</a></label>
                </div>
            }
            <div class="form-group row">
                @for (int i = 0; i < Math.Round(Model.Book.Rate); i++)
                {
                    <i class="fas fa-star" style="color:gold"></i>
                }
                @for (double j = Math.Round(Model.Book.Rate); j < 5; j += 1)
                {
                    <i class="far fa-star" style="color:gold"></i>
                }
            </div>
            <hr />
            <form asp-action="DetailsPost" asp-controller="Home" method="post">
                <label style="color:red">@Model.Book.BookPrice<span>đ</span></label>
                <div class="form-group border-light">
                    <label>Sẵn có: @Model.Book.Available sản phẩm</label>
                    <br />
                    <label>Số lượng:</label>
                    <div class="row">
                        <input asp-for="@Model.Book.Amount" min="1" max="@Model.Book.Available" value="1" class="form-control" style="width:70px" />
                        <input asp-for="@Model.Book.ID" hidden/>
                        @if (!User.IsInRole("Super Admin"))
                        {
                            <div class="form-group">
                                @{
                                    bool isInBag = false;
                                    List<ShoppingSessionViewModel> lstCart = HttpContextAccessor.HttpContext.Session.Get<List<ShoppingSessionViewModel>>("ssShoppingCart");
                                    if (lstCart != null)
                                    {
                                        foreach (var item in lstCart)
                                        {
                                            if (item.Book.ID == Model.Book.ID)
                                            {
                                                isInBag = true;
                                            }
                                        }
                                    }
                                }
                                @if (isInBag)
                                {
                                    <button type="submit" value="Remove From Bag" asp-action="Remove" asp-route-id="@Model.Book.ID" class="btn btn-danger form-control">Xóa</button>

                                }
                                else
                                {
                                    if (Model.Book.Available > 0)
                                    {
                                        <button type="submit" value="Add to Bag" class="btn btn-primary form-control"><i class="fas fa-shopping-cart"></i> Chọn mua</button>
                                    }
                                }
                            </div>
                        }
                    </div>

                </div>
            </form>
        </div>

    </div>
    @*<div id="sameauthor" hidden>
        <h4>Danh sách tác phẩm của tác giả @Model.Author.SecondName </h4>
        @foreach (var book in Model.Books)
        {
            <a asp-action="Details" asp-controller="Home" class="btn col-sm-2 book-hover" asp-route-id="@book.ID">
                <img style="height:180px;width:180px" src="@book.Image" alt="Card Image" />
                <div class="d-flex">
                    <p class="text-overflow-show" style="font-size:16px; color:#242424;float:left" title="@book.BookName">
                        @book.BookName
                    </p>
                </div>
                <p style="text-align:left;">@book.BookPrice<span>đ</span></p>
            </a>
        }
        <br />
    </div>*@
    @if (Model.SameGenrer.Count > 0)
    {
        <br />
        <h4>Sản phẩm cùng thể loại</h4>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="background-color:white;height:220px">
            <div class="carousel-inner">
                @{int index1 = 0;}
                @for (int j = 0; j < Model.SameGenrer.Count; j++)
                {
                    if (j + 5 >= Model.SameGenrer.Count)
                    {
                        break;
                    }
                    index1++;
                    var active = index1 == 1 ? "active" : "";
                    <div class="carousel-item @active">
                        <div class="row">
                            @for (int k = j; k < j + 5; k++)
                            {
                                if (j + 5 >= Model.SameGenrer.Count)
                                {
                                    break;
                                }
                                <div class="col-md-2 col-sm-6 col-12" style="margin-left:27px">
                                    <a asp-action="Details" asp-controller="Home" class="btn" asp-route-id="@Model.SameGenrer[k].ID">
                                        <img style="width:200px;height:200px" src="@Model.SameGenrer[k].Image" alt="">
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-prev" style="width:5%;" href="#carouselExampleControls" role="button" data-slide="prev">
                <i class="fas fa-chevron-circle-left" style="font-size:30px"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" style="width:5%;" href="#carouselExampleControls" role="button" data-slide="next">
                <i class="fas fa-chevron-circle-right" style="font-size:30px;"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    }

    @if (Model.BooksSeen.Count > 0)
    {
        <br />
        <h4>Sản phẩm bạn đã xem</h4>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="background-color:white;height:220px">
            <div class="carousel-inner">
                @{int index = 0;}
                @for (int j = 0; j < Model.BooksSeen.Count; j++)
                {
                    if (Model.BooksSeen.Count > 5 && (j + 5) >= Model.BooksSeen.Count)
                    {
                        break;
                    }
                    index++;
                    var active = index == 1 ? "active" : "";
                    <div class="carousel-item @active">
                        <div class="row">
                            @for (int k = j; k < j + 5; k++)
                            {
                                if (Model.BooksSeen.Count > 5 && (j + 5) >= Model.BooksSeen.Count)
                                {
                                    break;
                                }
                                if (k >= Model.BooksSeen.Count)
                                {
                                    break;
                                }
                                <div class="col-md-2 col-sm-6 col-12" style="margin-left:27px">
                                    <a asp-action="Details" asp-controller="Home" class="btn" asp-route-id="@Model.BooksSeen[k].ID">
                                        <img style="width:200px;height:200px" src="@Model.BooksSeen[k].Image" alt="">
                                    </a>
                                </div>

                            }
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-prev" style="width:5%;" href="#carouselExampleControls" role="button" data-slide="prev">
                <i class="fas fa-chevron-circle-left" style="font-size:30px"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" style="width:5%;" href="#carouselExampleControls" role="button" data-slide="next">
                <i class="fas fa-chevron-circle-right" style="font-size:30px;"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    }
    <br />
    <h4>Khách hàng nhận xét</h4>
    <div class="border rounded row" style="background-color:#ffffff">
        <partial name="~/Views/Shared/_BookReviewPartial.cshtml" model="Model" />
    </div>

<script>
    function showsameauthor() {
        document.getElementById("sameauthor").hidden = false;
    }
</script>
